joblib==1.1.0
pandas==1.4.0
numpy==1.19.5
matplotlib==3.5.1
mplfinance
ta==0.10.1

#https://github.com/twopirllc/pandas-ta
pandas-ta==0.3.14b


requests
structlog==22.1.0
PyYAML==6.0

notebook==6.5.2

Flask==2.0.2
